/* Основной цвет текста #757575; */
/* Дополнительный цвет текста (заголовки) #212121; */
/* Фон героя и футера #2F303A; */
/* фон секции 1 и портфолио #E5E5E5; */
/* Фон секции2 #F5F4FA; */
/* цвет активный #2196F3 */

:root {
  --main-color-rext: #757575;
  --title-color-text: #212121;
  --action-color: #2196F3;
  --hero-footer-color:#2F303A;
}



p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

body{
font-family: roboto; sans-serif;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
background-color: #E5E5E5;
color: var(--main-color-rext);
}
/* -----------------------------------------------------------------------------------------------------------------------------------Студия */

/* -----------------------------------------------------------Логотип-------------------------------------------------------------- */
.logo {
  font-family: Raleway; sans-serif;
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19

letter-spacing: 0.03em;
color: var(--action-color);

}
.logo .studio {
  color: black;
}
a { text-decoration:none;}

.header {
  background-color: #FFFFFF;
  height: 80px;
}

 
img {
    display: block;
    max-width: 100%;
}


/* ----------------------------------навигация сайта------------------------------------------- */


.header-container {
  display:flex;
  align-items: center;
  border: 1px solid tomato;
}

logo{
  display: flex;
  align-items: center;
  
}

.site-nav{
  display: flex;
  align-items: center;
 
  margin-left: 93px;
}

.site-contact {
  display: flex;
  align-items: center;
 
  margin-left: auto;
}
.site-contact li { margin-right: 50px;}
.site-contact li:last-child {margin-right: 0px;}

.container {
  width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.site-nav li {
  margin-right: 50px;
}

.site-nav li:last-child{ margin-right: 0px;}

.list {
  list-style: none;}

.site-nav a 
{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
padding-top: 31px;
padding-bottom: 31px;
display: block;

color: var(--title-color-text);
}

.site-nav a:hover, .site-nav a:focus 
{ outline: none;
color: var(--action-color);
}

.site-contact a {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;

color: var(--main-color-rext);

}
.site-contact a:hover, .site-contact a:focus { outline: none;
color: var(--action-color);
}
.current a {
  color: var(--action-color);
}

/* ----------------------------------------------герой--------------------------------------------------------- */
.title-hero {

font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
padding-top: 200px;
margin-bottom: 30px;

color: #FFFFFF;
}

.hero { 
  background-color:var(--hero-footer-color);
  text-align: center;

height: 600px;
margin-bottom: 94px;


}

.btn-hero {
font-family: Roboto;
font-style: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
padding: 10px 32px;
border: 1px solid var(--action-color);

border-radius: 4px;
text-align: center;
letter-spacing: 0.06em;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
color: #FFFFFF;

background: var(--action-color);
}

/* ---------------------особенности--------------- */

.none-title{
  display: none;
}
.peculiarities-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-bottom: 10px;

color: var(--title-color-text);
}

.list.peculiarities{
  display: flex;
  margin-bottom: 94px ;
  border: 1px solid tomato;
}

.peculiarities-content {
  width: 270px;
  margin-right: 30px;
  border: 1px solid tomato;
}

.peculiarities-content:last-child {margin-right: 0px;}


/* ---------------Чем мы занимаемся-------------------- */
.we-do-title {
font-weight:700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
color: var(--title-color-text);

}

.list.photo {
  display: flex;
  margin-bottom: 94px;
}

.photo-content{
margin-right: 30px;
}

.photo-content:last-child {margin-right: 0px;}

/* --------------------Наша комманда------------------------ */



.list.comand {
display: flex;
border: 1px solid tomato;

{
  border: 1px solid tomato;
  margin-right: 30px;
}



}
.comand-title{
font-weight:700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
padding-top: 94px;
padding-bottom: 50px;
color: var(--title-color-text);

}

.name-comand{
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: var(--title-color-text);
}

.discription-comand{
text-align: center;

}

/* ---------------Футер ------------------------*/
.studio.footer {
  color: #FFFFFF;
}
.footer-section {
  background-color: var(--hero-footer-color);
}

.address a {

font-style: inherit;
color: rgba(255, 255, 255, 0.6);

.address a:hover, .address a:focus {

}
}
 .address {
font-style: normal;
color: #FFFFFF;
 }
  
 .address a:hover, .address a:focus {
   color: var(--action-color);
 }

 /* ----------------------------------------------------------------------------------------------------------------------------Портфолио */

 /* Фильтр конпки */
 .btn-portfolio {
font-family: Roboto; sans-serif;
font-style: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;

text-align: center;
letter-spacing: 0.03em;
color: var(--title-color-text);
background-color:  #F5F4FA;



 }
.btn-portfolio:hover, .btn-porfolio:focus { outline: none;
  color: #FFFFFF;
  background-color: var(--action-color);
}

.tittle-porfolio {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--title-color-text);
}
.text-portfolio {
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
}